@import "../../styles/variaveis";
.cta {
  font-family: Sora;
  font-size: 0.75rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: $Night-80;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 2rem;
  background-color: $Lime-60;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background-color: $Night-20;
    color: #e0ff66;
  }
}
