@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.container {
  margin: 2.5rem auto;
  max-width: $desktop-md;
  text-align: center;
  min-height: 20vh;
  &__title {
    font-size: 2rem;
    color: $Lime;
  }
  &__text {
    margin: 2rem auto;
    width: 70vw;
  }
  & span {
    color: $Lime;
    text-decoration: underline;
  }
}
