@import "../../styles/variaveis";
@import "../../styles/breakpoints";
.container {
  width: clamp(20rem, 70vw, 90vw);
  height: fit-content;
  padding: 0.5rem 1rem;
  margin: auto;
  margin-bottom: 0.7rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: $Night;
  background-color: $Lime;
  border-radius: 0.3rem;
}

.link {
  text-decoration: underline;
  color: $Night;
  font-weight: 800;
}
