@import "normalize.css/normalize.css";
@import "./styles/variables";
@import "./styles/breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Sora", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at 50% 120%, rgba(192, 255, 0, 0.15) 0%, transparent 30%);
  background-color: $Background-Dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
